<% 
#
# Copyright (c) 2010 Attentec AB, http://www.attentec.se
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#     http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# 
-%>
<% content_for :title do %>
  <%= t '.login' %>
<% end %>
<% content_for :header do %>
  <%= t '.login' %>
<% end %>

<% form_tag :action => "login" do %>

  <label for="user_username"><%= User.human_attribute_name(:username) %>: </label><br/>
  <%= text_field "user", "username", :size => 20 %><br/>

  <label for="user_password"><%= User.human_attribute_name(:password) %>: </label><br/>
  <%= password_field "user", "password", :size => 20 %><br/>

<%= submit_tag (t :continue) %>

<% end %>
<p>
  <a href="../manual/" title="<%=t 'user_manual' %>"><%=t 'user_manual' %></a>
</p>
<% if $ENABLE_REGISTER %>
    <%= link_to (t :register), :action => 'new' %>
<% end %>
